div.name{
    display:flex;
    border: 5px solid purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    border: 10px solid green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topSection{
    display: flex;
    justify-content: space-between;
    margin: 40px 100px;
}
.intro{
    border: 5px solid pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bigger{
    font-size: 170%;
    font-weight: 1200;
}
.bigger2{
    font-size: 170%;
    font-weight: 1000;
}
.intro--name{
    font-size: 35px;
}
.occupation{
    font-size: 70px;
}
.pic{
    border: 5px solid yellow;
    width: 1200px;
    display: flex;
}
.picture{
    width: 100px;
    max-width: 100%;
    height: auto;
    justify-content: center;
    object-fit: cover;
    flex: 1 1 auto;
}
.tech{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    &-head{
        font-size: 200%;
    }
    &-intro{
        font-size: larger;
    }
}
i.fa{
    font-size: 5000px;
}
.project-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.project-left{
    // grid-template-columns: repeat(2, 1fr);
    border: 5px solid blue;
    display: flex;
    justify-content: center;

    &-captions{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin: 10px 50px;
    }
}

.project-right{
    display: flex;
    // grid-template-columns: repeat(2, 1fr);
    border: 5px solid pink;
    justify-content: center;
}


.project-pic{
        max-width: 25%;
        height:auto;
        flex: 1 1 auto;
        margin: 20px 200px;
    }




